
/* Your CSS Code here. */
.flex-container{
    display: flex;
    background-color: #d999;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.flex-items{
    flex-grow: 1;
    background-color: #f1f1f1;
    color: #000;
    width: 100px;
    margin: 10px;
}
h1{
    font: italic;
    font-weight: 400;
    margin: 10px 0;
}

    
    

    
